{% extends 'farmer/main.html' %}
{% load static %}
{% block content %}


 
<h1 style="padding-top : 100px;" class="text-center mt-5"  >E Farmer System V 0.0.1 </h1>



<section class="container mt-5">
    <h1 class="text-center">Design & Developed By </h1>
    <div class="solutions mt-5">
        <div class="  ">
            <div class="  h-100 mb-5">
                <img style="border-radius: 50%; " src="{% static 'images/pic.jpg' %}"  width="300px" height="400px" class="card-img-top p-sm-5"  >
                <h2 class=" -title text-center">Md. Abdur Razzak</h2>
                <h4 class="card-text text-center">Project Developer</h4>  
            </div>
        </div>

        <div class=" ">
            <div class="  h-100">
                <img style="border-radius: 50%; " src="{% static 'images/pic.jpg' %}" height="400px" width="300px" class="card-img-top p-sm-5"  > 
                <h2 class="card-title text-center">Md. Abdur Razzak</h2>
                <h4 class="card-text text-center">Project Developer</h4> 
                 
            </div>
        </div>
    </div>
</section>

{% endblock content %}
