{% extends 'farmer/main.html' %}
{% load static %}
{% block content %}

<div style = "background-image: url('{% static "images\bg.jpg" %}');" class="home">
    <div class="nav p-3 d-flex justify-content-between">
        <a href="{% url 'store' %}">
            <img id="logo" src="{% static 'images/logo/logo.png' %}">
        </a>
        <div class="form-inline my-2 my-lg-0">
            <a href="{% url 'store' %}">
               <img  id="cart-icon" src="{% static 'images/logo/cartoon.jpg' %}">
           </a>
       </div>	
    </div>
    <div class="title">
        <h1 class="text-center">E Farmer System Solution For Farmer</h1>
        
    </div>
    <div class="mt-5 p-5">
        <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis exercitationem harum voluptate quibusdam veniam unde quisquam provident rerum totam dolor a, error labore saepe eligendi excepturi, libero distinctio iure voluptatem.</h1>
        
    </div>

    <div class="text-center mt-3">
        <button class = "m-3 bg-info p-2 rounded " data-product="{{product.id}}" data-action="add" class="btn btn-outline-secondary add-btn update-cart">Go to Market</button>
        <button  class = "m-3 bg-info p-2 rounded " data-product="{{product.id}}" data-action="add" class="btn btn-outline-secondary add-btn update-cart">Find Solution</button>
    </div>
    
</div>

{% endblock content %}