{% extends 'farmer/main.html' %}
{% load static %}
{% block content %}

<div style = "background-image: url('{% static "images\bg.jpg" %}');" class="home">
    <div class="title mt-5 pt-5">
        <h1 class="text-center">E Farmer System Solution For Farmer</h1>
        
    </div>
    <div class="mt-5 p-5">
        <h1>Lorem ipsum dolor razzak sit amet consectetur adipisicing elit. Corporis exercitationem harum voluptate quibusdam veniam unde quisquam provident rerum totam dolor a, error labore saepe eligendi excepturi, libero distinctio iure voluptatem.</h1>
        
    </div>

    <div class="text-center mt-3">
        <a href="{% url 'store' %}"> <button class = "m-3 bg-info p-2 rounded " data-product="{{product.id}}" data-action="add" class="btn btn-outline-secondary add-btn update-cart">Go to Market</button></a>
        <a href="{% url 'solution' %}">> <button  class = "m-3 bg-info p-2 rounded " data-product="{{product.id}}" data-action="add" class="btn btn-outline-secondary add-btn update-cart">Find Solution</button></a>
    </div>
    
</div>


{% endblock content %}