<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'css/store.css' %}">
    <link rel="stylesheet" href="{% static 'css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link rel="stylesheet" href="{% static 'css/instractions.css' %}">
 
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
    <link rel="stylesheet" href="{% static 'css/jquery.convform.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
    <title>E Farmer</title>
    <script type="text/javascript">
		var user = '{{request.user}}'

		function getToken(name) {
		    var cookieValue = null;
		    if (document.cookie && document.cookie !== '') {
		        var cookies = document.cookie.split(';');
		        for (var i = 0; i < cookies.length; i++) {
		            var cookie = cookies[i].trim();
		            // Does this cookie string begin with the name we want?
		            if (cookie.substring(0, name.length + 1) === (name + '=')) {
		                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
		                break;
		            }
		        }
		    }
		    return cookieValue;
		}
		var csrftoken = getToken('csrftoken')

		function getCookie(name) {
		    // Split cookie string and get all individual name=value pairs in an array
		    var cookieArr = document.cookie.split(";");

		    // Loop through the array elements
		    for(var i = 0; i < cookieArr.length; i++) {
		        var cookiePair = cookieArr[i].split("=");

		        /* Removing whitespace at the beginning of the cookie name
		        and compare it with the given string */
		        if(name == cookiePair[0].trim()) {
		            // Decode the cookie value and return
		            return decodeURIComponent(cookiePair[1]);
		        }
		    }

		    // Return null if not found
		    return null;
		}
		var cart = JSON.parse(getCookie('cart'))

		if (cart == undefined){
			cart = {}
			console.log('Cart Created!', cart)
			document.cookie ='cart=' + JSON.stringify(cart) + ";domain=;path=/"
		}
		console.log('Cart:', cart)
	
	</script>

    <style>
        
  /*ChatBot*/
  .chat_icon{
      position: fixed;
      bottom: 0;
      right: 30px;
      padding: 0;
      font-size: 80px;
      color: #006AFF;
      cursor: pointer;
  }
  .chat_box{
      width: 340px;
      height: 80vh;
      position: fixed;
      bottom: 100px;
      right: 30px;
      border-radius: 6px;
      background:#dedede;
      z-index: 1000;
      transition: all 0.3s ease-out;
      transform: scaleY(0);
  }
  .chat_box.active{
      transform: scaleY(1);
  }
  #messages{
      padding: 20px;
  }
  .my-conv-form-wrapper textarea{
      height: 30px;
      overflow: hidden;
      resize: none;
  }
  .hidden{
      display: none !important;
  }
  

    </style>
</head>
<body>
    
    
    <div class="sidebar">
        <div class="logo_content">
            <div class="logo">
                <i class='bx bxl-twitch'></i>
                <div class="logo_name">E-Farmer</div>
            </div>
            <i class='bx bx-menu' id="btn"></i>
        </div>
        <ul class="nav_list">
            <li>
                <form method = POST action="{% url 'search' %}" >
                    {% csrf_token %}
                    <a href="#">
                        <i class = 'bx bx-search'></i>
                        <input  class="form-control" type="search" name="searched" area-label="Search" placeholder="Search...">
                    </a>
                    <span class="tooltip">Search</span>
                </form>
                
            </li>
            <li>
                <a href="{% url 'homepage' %}">
                    <i class = 'bx bx-home-alt'></i>
                    <span class="links_name">Home</span>
                </a>
            </li>
            
            <li>
                <a href="{% url 'store' %}">
                    <i class = 'bx bx-cart-alt'></i>
                    <span class="links_name">store</span>
                </a>
                <span class="tooltip">store</span>
            </li>
            <li>
                <a href="{% url 'instractions' %}">
                    <i class='bx bx-book-reader'></i>
                    <span class="links_name">Agri Instractions</span>
                </a>
                <span class="tooltip">Agri instractions</span>
            </li>
            <li>
                <a href="{% url 'instractions' %}">
                    <i class='bx bx-book-reader'></i>
                    <span class="links_name">Messege</span>
                </a>
                
                <span class="tooltip">messege</span>
            </li>
            <li>
                <a href="{% url 'instractions' %}">
                    <i class='bx bx-book-reader'></i>
                    <span class="links_name">Agri Solutions</span>
                </a>
                <span class="tooltip">Agri Solutions</span>
            </li>
            
            
        </ul>
        <div class="profile_content">
            <div class="profile">
                <div class="profile_details">
                    <img src="{% static 'images/pic.jpg' %}" alt="">
                    <div class="name_job">
                        <div class="name">Abdur Razzak</div>
                        <div class="job">Farmer</div>
                    </div>
                </div>
                <i class = 'bx bx-log-out' id = "logout"></i>
            </div>
        </div>
    </div>
    <div class="main">

                <!-- ChatBot -->
        <div class="chat_icon">
            <i class='bx bxl-messenger'aria-hidden="true"></i>
        </div>

        <div class="chat_box">
            <div class="my-conv-form-wrapper">
                <form action="" method="GET" class="hidden">

            <select data-conv-question="Hello! How can I help you" name="category">
                <option value="WebDevelopment">Buy Agri Product ?<br></option>
                <option value="DigitalMarketing">Find Solutions?</option>
            </select>

            <div data-conv-fork="category">
                <div data-conv-case="WebDevelopment">
                <input type="text" name="domainName" data-conv-question="Please, tell me how many Buy Product">    
                </div>
                <div data-conv-case="DigitalMarketing" data-conv-fork="first-question2">
                <input type="text" name="companyName" data-conv-question="Please, tell Me What is your problem"> 
                </div>
            </div>

            <input type="text" name="name" data-conv-question="Please, go to agri Officer his contact no 019384546">

            <input type="text" data-conv-question="Hi {name}, <br> It's a pleasure to meet you." data-no-answer="true">

            <input data-conv-question="Enter your e-mail" data-pattern="^[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$" type="email" name="email" required placeholder="thank you?">

            <select data-conv-question="Please Conform">
                <option value="Yes">Conform</option>
            </select>

            </form>
            </div>
        </div>
        <!-- ChatBot end -->
        {% block content %}


        {% endblock content %}
    </div>
 


    <script>
        let btn = document.querySelector("#btn");
        let sidebar = document.querySelector(".sidebar");
        let searchBtn = document.querySelector(".bx-search");

        btn.onclick = function(){
            sidebar.classList.toggle("active");
        }
        searchBtn.onclick = function(){
            sidebar.classList.toggle("active")
        }
        
    </script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>

	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>

	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
	<script type="text/javascript" src="{% static 'js/cart.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/custom.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery-3.1.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.convform.js' %}"></script>
</body>
</html>