{% extends 'farmer/main.html' %}
{% load static %}
{% block content %}
<div class="navbar p-3 bg-info d-flex justify-content-between">
	<a href="{% url 'store' %}">
		<img id="logo" src="{% static 'images/logo/logo.png' %}">
	</a>
	<div class="form-inline my-2 my-lg-0 cart_logo">
		<img  id="cart-icon" src="{% static 'images/logo/transaction.jpg' %}">

   </div>	
</div>
 
<h1 style="padding-top : 100px;" class="text-center mt-5"  >What is your Problem ???</h1>

<div class="instractions_items mt-5 pt-5 p-5 ">
	{% for solution in solutions %}
	<div class="pb-5">
		<div class="instractions_item">
			<div class="h-100">
                <img style="border-radius: 10px;" src="{{ solution.image.url }}"  class="card-img-top  p-2"  >
                <div class="card-body">
                    <h5 class="card-title">{{ solution.name }}</h5>
                    <p class="card-text">{{ solution.description }}</p>
                    {% if solution.url %}
                    <h6><a style="text-decoration: none;color: tomato;" href="{{ solution.url }}">Show Details...</a></h6>
                    {% endif %}
                </div>    
            </div>
		</div>
	</div>
	{% endfor %}
</div>

<p class="text-center text-warning pt-3">copy right <i class='bx bx-copyright'></i> E Farmer</p>


{% endblock content %}
