{% extends 'farmer/main.html' %}
{% load static %}
{% block content %}

<h1 style="padding-top : 100px;" class="text-center mt-5"  >What is your Problem ???</h1>

<section>
    <h2 class="section-title">Solutions For Puddy</h2>
    <div class="solutions">
        {% for solution in solutions %}
        <article class="solution">
            <div class="thumble">
                <img src="{{ solution.image.url }}"  class="card-img-top  p-2"  >
            </div>
            <div class="solutions-info">
                <h2 class="card-title">{{ solution.title }}</h2>
                <a style="text-decoration: none; color: green;" href=""><h2 class="card-title ">{{ solution.name }}</h2></a>

                <div class="item_info p-2 d-flex justify-content-between">
                    <p>1M+ Views</p>
                    <button data-product="{{solution.id}}"   type="button" class="btn btn-outline-success update-cart "  data-bs-toggle="modal" data-bs-target="#staticBackdrop" >View</button>
                    <div data-product="{{solution.id}}"  class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                <h5 class="modal-title text-center" id="staticBackdropLabel"><strong>{{solution.name}}</strong></h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">X</button>
                                </div>
                                <div class="modal-body text-center">
                                    <img class="thumbnail rounded" src="{{ solution.image.url }}" width="300px">
                                    <h5 class="text-center"><strong>{{solution.name}}</strong></h5>
                                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Itaque nam aut illo, doloremque beatae asperiores nisi velit laudantium a nulla amet totam quaerat saepe minima pariatur eum error quas earum.</p>
                                </div>
                                <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </article>
        {% endfor %}

    </div>
</section>



<section>
    <h2 class="section-title">Solutions For Maize</h2>
    <div class="solutions">
        {% for solution in solutions %}
        <article class="solution">
            <div class="thumble">
                <img src="{{ solution.image.url }}"  class="card-img-top  p-2"  >
            </div>
            <div class="solutions-info">
                <h2 class="card-title">{{ solution.title }}</h2>
                <a style="text-decoration: none; color: green;" href=""><h2 class="card-title ">{{ solution.name }}</h2></a>

                <div class="item_info p-2 d-flex justify-content-between">
                    <p>1M+ Views</p>
                    <button data-product="{{product.id}}"   type="button" class="btn btn-outline-success ml-2"  data-bs-toggle="modal" data-bs-target="#staticBackdrop" >View</button>
                </div>
            </div>

        </article>
        {% endfor %}

    </div>
</section>



<section>
    <h2 class="section-title">Solutions For Wheat</h2>
    <div class="solutions">
        {% for solution in solutions %}
        <article class="solution">
            <div class="thumble">
                <img src="{{ solution.image.url }}"  class="card-img-top  p-2"  >
            </div>
            <div class="solutions-info">
                <h2 class="card-title">{{ solution.title }}</h2>
                <a style="text-decoration: none; color: green;" href=""><h2 class="card-title ">{{ solution.name }}</h2></a>

                <div class="item_info p-2 d-flex justify-content-between">
                    <p>1M+ Views</p>
                    <button data-product="{{product.id}}"   type="button" class="btn btn-outline-success ml-2"  data-bs-toggle="modal" data-bs-target="#staticBackdrop" >View</button>
                </div>
            </div>

        </article>
        {% endfor %}

    </div>
</section>




















<div id="accordion">
    <button class="btn btn-primary m-5" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">Puddy</button>

<div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
    <div class="solution_items p-5 ">
        {% for solution in solutions %}
        <div class="pb-5">
            <div class="solution_item">
                <div class="image p-2 ml-5 pl-5">
                    <img style="border-radius: 10px; width: 80%; height: 30%;" src="{{ solution.image.url }}"  class="card-img-top "  >
                    <div class="card-body">
                        <h1 class="card-title">{{ solution.name }}</h1>
                        <h2 class="card-title">{{ solution.title }}</h2>
                        <p class="card-text">{{ solution.description }}</p>
                        {% if solution.url %}
                        <h6><a style="text-decoration: none;color: tomato;" href="{{ solution.url }}">Show Details...</a></h6>
                        {% endif %}
                    </div>    
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>



<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>



{% endblock content %}
