
.home{
	height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}


*,*::before,*::after {
    box-sizing: border-box;
  }
   
   
.login button{
    text-decoration: none;
    font-size: 20px !important ;
    color: darkgreen;
}

.icons a{
    font-size: 30px;
}

.profile_items{
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(2, 1fr);

 
}
@media (max-width : 750px) {
    .profile_items{
        grid-template-columns: repeat(1, 1fr);
    }
   
    
}

