
.home{
	height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}


*,*::before,*::after {
    box-sizing: border-box;
  }
   
   
.login a{
    text-decoration: none;
    font-size: 25px;
    color: darkgreen;
}