*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins",sans-serif;
}

body{
    min-height: 100vh;
    width: 100%;
 
}
.navbar {
    background-color: #183a29 !important;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 95%;
  }
 
.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 78px;
    background: #11101d;
    padding: 6px 14px;
    transition: all 0.4s ease;
}
.sidebar.active{
    width: 240px;
}


.sidebar .logo_content .logo{
    color: #fff;
    display: flex;
    height: 50px;
    width: 100%;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;

}
.sidebar.active .logo_content .logo{
    opacity: 1;
}

.logo_content .logo i{
    font-size: 28px;
    font-weight: 400;
    padding-left: 10px;

}
.logo_content .logo .logo_name{
    font-size: 20px;
    font-weight: 400;
     padding-left: 20px;
}
.sidebar #btn{
    position: absolute;
    color: #fff;
    left: 50%;
    top: 6px;
    font-size: 20px;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    transform: translateX(-50%);
}
.sidebar.active #btn{
    left: 90%;
}
.sidebar ul li{
    position: relative;
    height: 50px;
    width: 90%;
    margin: 0 5px;
    list-style: none;
    line-height: 50px;
   
}

 
/*
.sidebar ul li .tooltip{
    position: absolute;
    left: 122px;
    top: 0;
    transform: translate(-50% , -50%);
    border-radius: 6px;
    height: 35px;
    width: 122px;
    background: rgb(145, 23, 23);
    line-height: 35px;
    text-align: center;
    box-shadow: 0 5px 10px rgb(0, 0, 0, 0.2);
    transition: 0s;
    opacity: 0;
    pointer-events: none;
    display: block;
    
}

.sidebar.active ul li .tooltip{
    display: none;

}
.sidebar ul li:hover .tooltip{
    transition: all 0.5s ease;
    opacity: 1;
    top: 50%;
}
*/
.sidebar  ul li form input{
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    border-radius: 12px;
    outline: none;
    border: none;
    background: #1d1b31;
    padding-left: 50px;
    font-size: 18px;
    color: #fff;
}
 
.sidebar ul li .bx-search{
    position: absolute;
    z-index: 99;
    color: #fff;
    font-size: 22px;
    height: 0;
    transition: all 0.4s ease;
}
.sidebar ul li .bx-search:hover{
    background: #fff;
    color: #1d1b31;
    
}
.sidebar ul{
    margin-top: 20px;

}

.sidebar ul li a{
    color: #fff;
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: all 0.4s ease;
    border-radius: 12px;
    white-space: nowrap;
}
.sidebar ul li a:hover{
    color: #11101d;
    background: #fff;
}

.sidebar ul li a i{
    height: 50px;
    min-width: 50px;
    border-radius: 12px;
    line-height: 50px;
    text-align: center;
    font-size: 25px;
}
.sidebar .links_name{
    opacity: 0;
    pointer-events: none;
    transition: all 0.4s ease;
}

.sidebar.active .links_name{
    opacity: 1;
    pointer-events: auto;
}

.sidebar .profile_content{
    position: absolute;
    color: #fff;
    bottom:  0;
    left: 0;
    width: 100%;

}

.sidebar .profile_content .profile{
    position: relative;
    padding: 10px 6px;
    height: 60px;
    border-radius: 12px;
    
}
.sidebar.active .profile_content .profile{
    background: #1d1b31;

}
.profile_content .profile .profile_details{
    display: flex;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    white-space: nowrap;

}
.sidebar.active .profile .profile_details{
    opacity: 1;
    pointer-events: auto;
}
.profile .profile_details img{
    height: 45px;
    width: 45px;
    object-fit: cover;
    border-radius: 12px;

}
.profile .profile_details .name_job{
    margin-left: 10px;

}
.profile .profile_details .job{
    font-size: 12px;

}
.profile .profile_details .name{
    font-size: 15px;
    font-weight: 400;

}
 .profile #logout{
     position: absolute;
     left: 50%;
     bottom: 5px;
     transform:  translateX(-50%);
    min-width: 50px;
     line-height: 50px;
     font-size: 25px;
     border-radius: 12px;
     text-align: center;
     background: #1d1b31;
     transition: all 0.4s ease;

 }
 .sidebar.active .profile #logout{
     left: 88%;
     transition: all 0.4s ease;
 }



 .main{
     position: relative;
     height: 100%;
     width: calc(100% - 78px);
     left: 78px;
     transition: all 0.4s ease;
 }

 .main .text{
     font-size: 25px;
     font-weight: 500;
     color: crimson;
     margin: 12px;
 }
 .sidebar.active ~ .main{
    width: calc(100% - 240px);
    left: 240px;

 }

 .sidebar.active ~ .num{
 
    right: 40px;

 }
 
 