*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Poppins', sans-serif;
    background-color: #f9dfbc;

}

.item{
	border: 1px solid #111;
    height: 100%;
}
 

.items{
    display: grid;
    grid-gap: 20px;
    place-items: center;
 
}

.items{
    grid-template-columns: repeat(5, 1fr);
}



.item img{
    width: 200px;
}
.item-info{
    display: flex;
}

 
@media (max-width : 1160px) {
    .items{
        grid-template-columns: repeat(4, 1fr);
    }
   
}

@media (max-width : 992px) {
    .items{
        grid-template-columns: repeat(3, 1fr);
    }
   
}

@media (max-width : 715px) {
    .items{
        grid-template-columns: repeat(2, 1fr);
    }
   
}
@media (max-width : 500px) {
    .items{
        grid-template-columns: repeat(1, 1fr);
    }
   
    
}


/*cart item*/
 
.box-element{
	box-shadow:hsl(0, 0%, 80%) 0 0 16px;
	background-color: #9b7d01;
	border-radius: 4px;
	padding: 10px;
}


 
 

.product{
	border-radius: 0 0 4px 4px;
}

.bg-dark{
	background-color: #4f868c!important;
}

#cart-icon{
	width:40px;
	display: inline-block;
	margin-left: 15px;
}

#logo{
    width: 70%;
}

#cart-total{
	display: block;
	text-align: center;
	color:#fff;
	background-color: red;
	width: 20px;
	height: 25px;
	border-radius: 50%;
	font-size: 14px;
}

.col-lg-4, .col-lg-6, .col-lg-8, .col-lg-12{
	margin-top: 10px;
}

.btn{
	border-radius: 0;

}



.row-image{
	width: 100px;
}

.form-field{
	width:250px;
	display: inline-block;
	padding: 5px;
}

.cart-row{
	display: flex;
    align-items: flex-stretch;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ececec;

}

.quantity{
	display: inline-block;
	font-weight: 700;
	padding-right:10px;
	

}

.chg-quantity{
	width: 12px;
	cursor: pointer;
	display: block;
	margin-top: 5px;
	transition:.1s;
}

.chg-quantity:hover{
	opacity: .6;
}


.hidden{
	display: none!important;
}
 