{% extends 'farmer/main.html' %}
{% load static %}
{% block content %}
<form action="" method="POST">
    {% csrf_token %}
    <div class="mr-5 ml-5 mt-5">
      <label for="exampleInputEmail1" class="form-label">User Name</label>
      <input type="text" class="form-control" name="username" aria-describedby="emailHelp">
      
    </div>
    <div class="mr-5 ml-5">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input type="password" class="form-control" name="password">
    </div>
    <button class = "mr-5 ml-5 mt-3" type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock content %}